<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Cadastro de Anúncio</title>

<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="styles.css">

<!--NavBar-->

<nav style="background-color: #B77A51; height: 80px;">
	<ul class="nav justify-content-center">
		<a class="navbar-brand text-white" href="#">DIVULGA TUDO</a>
		<li class="nav-item"><a class="nav-link text-white"href="#">HOME</a></li>
		<li class="nav-item"><a class="nav-link text-white"href="#">ANÚNCIOS</a></li>
		<li class="nav-item"><a class="nav-link text-white"href="#">PROJEÇÕES</a></li>
		
	</ul>
</nav>

<!--NavBar-->

</head>

<!--head-->

<!--body-->

<body  style="background-color: #F9EEE8;">
<br />
		<br />
    <div class="container">
    
    <div>
			<a style="background-color: #75BD43;" href="new" class="btn btn-sm mb-3">Cadastre um novo Anúncio</a> 
			<br/> 
			<br/>
		</div>

		<div>&nbsp;</div>
		<div>
			<form th:action="@{/}">
				<input type="text" placeholder="Insira o nome do cliente" name="filtro" th:value="${filtro}" required /> 
				&nbsp;
				<button type="submit" class="btn btn-primary">Filtrar</button>
				&nbsp;
				<button type="button" class="btn btn-primary" onclick="clearFilter()">Limpar</button>
		</div>
		</form>
		<br/> 
		<br/>
			<h1 class="text-black">Anúncios Cadastrados</h1>
	</div>
	

 
   
	
	<div class="container my-5">

		<!--table-->

		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Código do Anúncio</th>
					<th>Nome do Anúncio</th>
					<th>Cliente</th>
					<th>Data de início</th>
					<th>Data de término</th>
					<th>Investimento Diário</th>
					<th>Ações</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="anuncio : ${listAnuncios}">
					<td th:text="${anuncio.id_Anuncio}">Código do Anúncio</td>
					<td th:text="${anuncio.nome_Anuncio}">Nome do Anúncio</td>
					<td th:text="${anuncio.cliente}">Cliente</td>
					<td><span th:date="${anuncio.data_Inicio}">Data de Início</span></td>
					<td><span th:date="${anuncio.data_Termino}">Data de Término</span></td>
					<td><span th:if="${anuncio.investimento_Dia} != null" th:text="${ #numbers.formatDecimal(anuncio.investimento_Dia,3,'POINT',2,'COMMA')}">InvestimentoDiário</span></td>


					<td><a th:href="@{'/edit/' + ${anuncio.id_Anuncio}}"
						class="btn btn-primary">Editar</a> &nbsp;&nbsp;&nbsp;&nbsp; <a
						th:href="@{'/delete/' + ${anuncio.id_Anuncio}}"
						class="btn btn-danger">Deletar</a></td>

				</tr>
			</tbody>
		</table>

		<!--table-->

	</div>
	<script type="text/javascript">
		function clearFilter() {
			window.location = '/';
		}
	</script>

</body>

<!--body-->
<!--footer-->

<footer class="bg-dark text-center text-white">
	
	<div class="text-center p-3"
		style="background-color: #B77A51; height: 120px;">
		© 2021 Copyright <a class="text-white"
			href="https://mdbootstrap.com/"><br/>
	<br/>www.divulgatudo.com.br</a>
	</div>
	<!-- Copyright -->
</footer>

</html>